<article class="wrapper__main-content">
  <section class="film-page container">
    <div href="#" class="film-page__poster" id="js-poster-link">
      <a class="film-page__poster-overlay">
        <p class="film-page__poster-overlay-text">
          <span class="material-icons play-icon film-page__poster-overlay-text-icon">
            play_circle_outline
          </span>
          <span>Watch the trailer</span></p>
      </a>
      <img class="film-page__poster-img" {{#if poster_path}} src="https://image.tmdb.org/t/p/w500{{poster_path}}"
        {{/if}} alt="">
    </div>

    <section class="film-page__description">
      <h2 class="film-page__description-title">{{original_title}}</h2>


      <P class="film-page__description-row">
        <span class="film-page__description-row-key">vote / votes:</span>
        <span>{{vote_average}} / {{vote_count}}</span>
      </P>


      <P class="film-page__description-row">
        <span class="film-page__description-row-key">popularity: </span>
        <span>{{popularity}}</span>
      </P>


      <P class="film-page__description-row">
        <span class="film-page__description-row-key">original title:</span>
        <span>{{title}}</span>
      </P>


      <div class="film-page__description-row film-page__description-row--flex">
        <span class="film-page__description-row-key film-page__description-row-key--genres">genre:</span>
        <div class="film-page__description-row-value film-page__description-row-value--genres">
          {{#each genres}}
          <span>{{this.name}}</span>
          {{/each}}
        </div>
      </div>

      <h3 class="film-page__description-title">About:</h3>
      <p class="film-page__description-overview">{{overview}}</p>
      <div class="film-page__controls">
        <button class="film-list__item-btn film-list__item-btn--hover film-page__btn" id="addTOwachedJS"
          data-action="">Add to
          watched</button>
        <button class="film-list__item-btn film-list__item-btn--hover film-page__btn" id="addTOqueueJS"
          data-action="">Add to
          queue</button>
      </div>
    </section>

  </section>
</article>