<section class="library-chapter">
    <div class="wrapper__search-bar" id="film-controls">
        <div class="search-bar library-chapter__control container">
            <button class="library-chapter__control-btn" id="js-btn-watched" data-status="">Watch</button>
            <button class="library-chapter__control-btn" id="js-btn-queue" data-status="">Queue</button>
        </div>
    </div>
    <div class="wrapper__main-content" data-page="library">
        <ul class="film-list film-list--main-page container" id="js-film-list">
            {{#each this}}
            <li class="film-list__item film-list__item--hover library-chapter__film-card">
                <a class="film-list__item-overlay" href="" data-path="film/{{id}}">
                    <button class="film-list__item-btn film-list__item-btn--hover" id="addTOwachedJS" data-action=""
                        data-filmid="{{id}}">Add to watched</button>
                    <button class="film-list__item-btn film-list__item-btn--hover" id="addTOqueueJS" data-action=""
                        data-filmid="{{id}}">Add to queue</button>
                </a>
                <a class="film-list__item-box" href="" data-path="film/{{id}}">
                    <img class="film-list__item-img" {{#if backdrop_path}}
                        src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" {{/if}} alt="">
                    <p class="film-list__item-rating">{{vote_average}}</p>
                    <p class="film-list__item-name">{{original_title}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</section>