<section class="films-library">
    <div class="film-controls libray-main__shadow" id="film-controls">
        <button class="film-controls__btn" id="js-btn-watched">Watch</button>
        <button class="film-controls__btn" id="js-btn-queue">Queue</button>
    </div>
    <div class="container">
        <section class="films-library__gallery-list container">
            {{#each this}}
            <div class="part-of-results-item films-library__gallery-item ">
                <a class="films-library__gallery-item-wrap" href="" data-path="film/{{id}}">
                    <div class="container library-details" id="js-film-page-content-container">
                        <button class="library-details__addTOwached library-details__btn" id="addTOwachedJS">Add to
                            watched</button>
                        <button class="library-details__addTOqueue library-details__btn" id="addTOqueueJS">Add to
                            queue</button>
                    </div>
                </a>
                <a class="films-library__link-box" href="" data-path="">
                    <img class="films-library__gallery-images" src="https://image.tmdb.org/t/p/w500{{poster_path}}"
                        alt="{{original_title}}">
                    <p class="films-library__gallery-rating">{{vote_average}}</p>
                    <p class="films-library__gallery-name">{{original_title}}</p>
                </a>
            </div>
            {{/each}}
        </section>
    </div>
</section>