<ul class="film-list film-list--main-page container" id="js-film-list">
  {{#each this}}
  <li class="film-list__item film-list__item--hover">
    <a class="film-list__item-overlay" href="" data-path="film/{{id}}">
        <button class="film-list__item-btn film-list__item-btn--hover" id="addTOwachedJS" data-action="" data-filmid="{{id}}">Add to watched</button>
        <button class="film-list__item-btn film-list__item-btn--hover" id="addTOqueueJS" data-action="" data-filmid="{{id}}">Add to queue</button>
    </a>
    <a class="film-list__item-box" href="" data-path="film/{{id}}">
      <img class="film-list__item-img" 
        {{#if poster_path}}
        src="https://image.tmdb.org/t/p/w500{{poster_path}}" 
        {{/if}} 
        alt="">
      <p class="film-list__item-rating">{{vote_average}}</p>
      <p class="film-list__item-name">{{original_title}}</p>
    </a>
  </li>
  {{/each}}
</ul>